/* line 5, ../../app/saas/main.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 10, ../../app/saas/main.scss */
body {
  background-color: #222222;
}

/* line 14, ../../app/saas/main.scss */
.container {
  width: 100%;
  background-color: #737373;
  margin: 0 auto;
}

/* line 4, ../../app/saas/text/text.scss */
html {
  font-size: 16px;
}

/* line 8, ../../app/saas/text/text.scss */
body {
  font-size: 62.5%;
  color: #fefefe;
}

/* line 15, ../../app/saas/text/text.scss */
h1, h2, h3, p {
  font-style: normal;
  font-family: Helvetica;
}

/* line 20, ../../app/saas/text/text.scss */
h1 {
  font-size: 3em;
}

/* line 24, ../../app/saas/text/text.scss */
h2 {
  font-size: 2.5em;
}

/* line 28, ../../app/saas/text/text.scss */
h3 {
  font-size: 2em;
}

/* line 32, ../../app/saas/text/text.scss */
p {
  font-size: 1.5em;
}
