
$background-color: #222222;
$context-width: 960px;

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

.container{
  width:100%;
  background-color: #737373;
  margin: 0 auto;
}

@import "text/text";
